[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "third_party/ftxui"]
	path = third_party/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI
